<section id="expertadvisor" class="container features">
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Conheça o nosso consultor de investimentos<br/> <span class="navy"> Mais ganhos, mais agilidade</span> </h1>
        <p> Estamos em fase pré-operacional do nosso consultor automático de investimentos. </br>
            Seja um dos primeiros a utilizar nosso consultor automático. Cadastre-se e entraremos em contato! </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3 text-center wow fadeInLeft">
        <div>
            <i class="fa fa-mobile features-icon"></i>
            <h2>Disponibilidade!</h2>
            <p>Você poderá acompanhar os seus investimentos de forma mais simples e em qualquer lugar e a qualquer momento</p>
        </div>
        <div class="m-t-lg">
            <i class="fa fa-line-chart features-icon"></i>
            <h2>Metas!</h2>
            <p>O nosso consultor automático acompanhará todas as suas metas definidas para seu planejamento financeiro!</p>
        </div>
    </div>
    <div class="col-md-6 text-center  wow zoomIn">
        <img src="<%= image_path('landing/perspective.png') %>" alt="dashboard" class="img-responsive">
    </div>
    <div class="col-md-3 text-center wow fadeInRight">
        <div>
            <i class="fa fa-money features-icon"></i>
            <h2>Melhors opções!</h2>
            <p>Através de um modelo de inteligência artificial, o nosso consultor automático selecionará as melhores opções para os seus investimentos!</p>
        </div>
        <div class="m-t-lg">
            <i class="fa fa-bank features-icon"></i>
            <h2>Segurança</h2>
            <p>Invista com a mesma segurança dos grandes bancos!</p>
        </div>
    </div>
</div>
</section>